.choice-container {
    display: flex;
    margin-bottom: 5px;
    width: 100%;
    font-size: 18px;
    border: 1px solid red;
    background-color: white;
}

.choice-prefix {
    padding: 15px 25px;
    background-color: blue;
    color: white;
}

.choice-text {
    padding: 15px;
    width: 100%;
}

.correct {
    background-color: green;

}

.incorrect {
    background-color: red;
}

#hud {
    display: flex;
    justify-content: space-between;
}

.hud-prefix {
    text-align: center;
    font-size: 20px;

}

.hud-main-text {
    text-align: center;
}

.timer-main-text {
    text-align: center;
}

.timer-number {
    text-align: center;
}